body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
   padding: 20px; 
   background-color: antiquewhite;
   text-align: center;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-gap: 15px;
}

.item{
   background-color: #0f0;
   padding: 20px;
   border: 1px solid;
   font-size: 30px;
}

.item-1{
    grid-column: span 2;
    grid-row: span 2;
}